name: Build and Test

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  prepare:
    name: Prepare list of configurations
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      presets: ${{ steps.set-matrix.outputs.presets }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443

      - name: Check out the source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set matrix
        id: set-matrix
        run: echo presets="$(jq '.configurePresets[] | select(.hidden == false) | {name, description}' CMakePresets.json | jq --slurp -c .)" >> "${GITHUB_OUTPUT}"

  build:
    needs: prepare
    name: Build and Test (${{ matrix.preset.description }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        preset: ${{ fromJson(needs.prepare.outputs.presets) }}
    permissions:
      contents: read
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: true
          fetch-depth: 0

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Set up vcpkg
        uses: lukka/run-vcpkg@5e0cab206a5ea620130caf672fce3e4a6b5666a1 # v11.5
        env:
          VCPKG_BINARY_SOURCES: default,rw

      - name: Set up binary cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
          key: ${{ runner.os }}-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json') }}
          restore-keys: |
            ${{ runner.os }}-vcpkg-binary-cache-

      - name: Build and test
        run: |
          cmake --preset ${{ matrix.preset.name }} -DVCPKG_TARGET_TRIPLET=x64-linux-release
          cmake --build --preset ${{ matrix.preset.name }} -j$(nproc)
          ctest --preset ${{ matrix.preset.name }}
